:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-neutral-100: #edf1f5;
  --color-neutral-1000: #000000;
  --color-neutral-150: #e4e9ec;
  --color-neutral-200: #dfe3e7;
  --color-neutral-230: #d6dbde;
  --color-neutral-300: #c0c8cd;
  --color-neutral-400: #878789;
  --color-neutral-50: #ffffff;
  --color-neutral-500: #777779;
  --color-neutral-600: #70787d;
  --color-neutral-70: #f6fafe;
  --color-neutral-700: #4f4e50;
  --color-neutral-80: #f0f4f8;
  --color-neutral-800: #40484c;
  --color-neutral-900: #2c3134;
  --color-neutral-950: #171c1f;
  --color-primary-100: #e0f4ff;
  --color-primary-200: #bee9ff;
  --color-primary-300: #87d0f2;
  --color-primary-400: #4e9aba;
  --color-primary-50: #ffffff;
  --color-primary-500: #4e9aba;
  --color-primary-600: #307f9f;
  --color-primary-700: #266884;
  --color-primary-800: #004d65;
  --color-primary-900: #003546;
  --color-primary-950: #001f2a;
  --color-red-100: #fee2e2;
  --color-red-200: #ffdad6;
  --color-red-300: #fda4a4;
  --color-red-400: #fa6f6f;
  --color-red-50: #ffffff;
  --color-red-500: #f24141;
  --color-red-600: #df2323;
  --color-red-700: #bc1919;
  --color-red-800: #a21a1a;
  --color-red-900: #811b1b;
  --color-red-950: #460909;
  --color-succees-100: #d9f2e2;
  --color-succees-200: #b7e3c9;
  --color-succees-300: #87cea8;
  --color-succees-400: #55b283;
  --color-succees-50: #ffffff;
  --color-succees-500: #339668;
  --color-succees-600: #268259;
  --color-succees-700: #1c6044;
  --color-succees-800: #184d37;
  --color-succees-900: #153f2e;
  --color-succees-950: #0b231a;
  --color-yellow-100: #fdf7c4;
  --color-yellow-200: #fced8c;
  --color-yellow-300: #fadc4a;
  --color-yellow-400: #f6c819;
  --color-yellow-50: #ffffff;
  --color-yellow-500: #e6af0c;
  --color-yellow-600: #d49008;
  --color-yellow-700: #9e610a;
  --color-yellow-800: #834c10;
  --color-yellow-900: #6f3e14;
  --color-yellow-950: #411f07;
  /* numbers */
  --spacing-layout-spacing-columns-sm: 0.25rem;
  --spacing-layout-spacing-vertical-grid-system: 0.25rem;
  --spacing-layout-spacing-columns-md: 0.375rem;
  --spacing-layout-spacing-columns-lg: 0.75rem;
  --spacing-layout-spacing-horizontal-gutter: 1rem;
  --spacing-layout-spacing-gutter-lg: 1.5rem;
  --spacing-layout-spacing-margin-lg: 1.5rem;
  --spacing-layout-spacing-header-heigt: var(--spacing-size-size-14);
  --spacing-layout-spacing-nav-bar-width: var(--spacing-size-size-15);
  --spacing-layout-spacing-horizontal-padding: 10rem;
  --spacing-layout-spacing-screen-width: 90rem;
  --spacing-size-size-1: 0.25rem;
  --spacing-size-size-2: 0.5rem;
  --spacing-size-size-3: 0.75rem;
  --spacing-size-size-4: 1rem;
  --spacing-size-size-5: 1.25rem;
  --spacing-size-size-6: 1.5rem;
  --spacing-size-size-7: 1.75rem;
  --spacing-size-size-8: 2rem;
  --spacing-size-size-9: 2.25rem;
  --spacing-size-size-10: 2.5rem;
  --spacing-size-size-11: 2.75rem;
  --spacing-size-size-12: 3rem;
  --spacing-size-size-13: 3.25rem;
  --spacing-size-size-14: 3.5rem;
  --spacing-size-size-15: 3.75rem;

  /* colors */
  --color-alert: var(--color-yellow-600);
  --color-alert-container: var(--color-yellow-100);
  --color-error: var(--color-red-700);
  --color-error-container: var(--color-red-200);
  --color-inverse-on-surface: var(--color-neutral-100);
  --color-inverse-primary: var(--color-primary-200);
  --color-inverse-surface: var(--color-neutral-900);
  --color-on-alert: var(--color-yellow-50);
  --color-on-alert-container: var(--color-yellow-950);
  --color-on-error: var(--color-red-50);
  --color-on-error-container: var(--color-red-950);
  --color-on-primary: var(--color-primary-50);
  --color-on-primary-container: var(--color-primary-950);
  --color-on-primary-fixed: var(--color-primary-950);
  --color-on-primary-fixed-variant: var(--color-primary-800);
  --color-on-success: var(--color-succees-50);
  --color-on-success-container: var(--color-succees-950);
  --color-on-surface: var(--color-neutral-950);
  --color-on-surface-variant: var(--color-neutral-800);
  --color-outline: var(--color-neutral-600);
  --color-outline-variant: var(--color-neutral-300);
  --color-primary: var(--color-primary-700);
  --color-primary-fixed: var(--color-primary-200);
  --color-primary-container: var(--color-primary-200);
  --color-primary-fixed-dim: var(--color-primary-300);
  --color-scrim: var(--color-neutral-1000);
  --color-shadow: var(--color-neutral-1000);
  --color-success: var(--color-succees-700);
  --color-success-container: var(--color-succees-200);
  --color-surface: var(--color-neutral-70);
  --color-surface-bright: var(--color-neutral-70);
  --color-surface-container: var(--color-neutral-100);
  --color-surface-container-high: var(--color-neutral-150);
  --color-surface-container-highest: var(--color-neutral-200);
  --color-surface-container-low: var(--color-neutral-80);
  --color-surface-container-lowest: var(--color-neutral-50);
  --color-surface-dim: var(--color-neutral-230);
  --text-color-primary: var(--color-neutral-800);
  --text-color-secondary: var(--color-neutral-600);
  --text-color-success: var(--color-succees-700);
  --text-color-warning: var(--color-red-700);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
