.messageContainer {
    border: solid 1px var(--color-primary-700);
    background-color: var(--color-primary-100);
    color: var(--color-primary-700);
    border-radius: 4px;
    bottom: 50dvh;
    z-index: 105;
    left: 50%;
    box-shadow: 2px 8px 8px 0 rgb(199, 199, 199);
    padding: 8px 16px;
    transform: translate(-50%, 200%);
    transition: transform .5s;
    display: none;
    opacity: 0;
}
.messageContainer svg {
    height: 24px;
}
.messageClose:hover {
    background-color: var(--color-primary-300);
}
.messageContentIcon {
    display: flex;
    color: var(--color-primary-700);
    align-items: center;
}
.messageCloseSvg {
    color: var(--color-primary-700);
}
.messageContainerSuccess {
    border: solid 1px var(--color-success-700);
    background-color: var(--color-success-100);
    color: var(--color-success-700);
}
.messageContainerSuccess .messageClose:hover {
    background-color: var(--color-success-300);
}
.messageContainerSuccess .messageContentIcon {
    color: var(--color-success-700);
}
.messageContainerSuccess .messageCloseSvg {
    color: var(--color-success-700);
}
.messageContainerError {
    border: solid 1px var(--color-error-700);
    background-color: var(--color-error-100);
    color: var(--color-error-700);
}
.messageContainerError .messageClose:hover {
    background-color: var(--color-error-300);
}
.messageContainerError .messageContentIcon {
    color: var(--color-error-700);
}
.messageContainerError .messageCloseSvg {
    color: var(--color-error-700);
}
.messageContainerWarning {
    border: solid 1px var(--color-warning-700);
    background-color: var(--color-warning-100);
    color: var(--color-warning-700);
}
.messageContainerWarning .messageClose:hover {
    background-color: var(--color-warning-300);
}
.messageContainerWarning .messageContentIcon {
    color: var(--color-warning-700);
}
.messageContainerWarning .messageCloseSvg {
    color: var(--color-warning-700);
}
.messageContainerShow {
    display: flex;
    transform: translate(-50%, 0);
    opacity: 1;
    animation: showMessage .8s ease-in-out;
}
.messageClose {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
}
.messageClose svg {
    width: 12px;
    height: 12px;
}
.messageContent {
    display: flex;
    gap: 12px;
}
.messageContentText .messageContentTextTitle {
    font-size: 20px;
    margin: auto;
}
.messageContentText p.messageContentTextMessage {
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    line-height: 200%;
    margin: auto;
}
@keyframes showMessage {
    0% {
        transform: translate(-50%, 200%);
        opacity: 0;
        scale: 0;
    }
    40% {
        transform: translate(-51%, 0);
        opacity: 1;
        scale: 1;
    }
    70% {
        transform: translate(-49%, 0);
    }
    80% {
        transform: translate(-51%, 0);
    }
    90% {
        transform: translate(-49%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
